.Contacts {
  padding-top: 5em;
  text-align: center;
}

.Contacts__notice {
  margin: 3em auto 0;
  max-width: 36em;
  font-size: 1.2em;
  line-height: 1.4em
}

.Contacts__form {
  position: relative;
  z-index: 1;
  padding: 2rem;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Contacts__form-input,
.Contacts__form-textarea,
.Contacts__form-btn-submit {
  max-width: 40em;
  width: 100%;
  padding: 1rem;
  margin: auto;
  border-radius: 0.6em;
  border: 1px solid var(--gray);
  background-color: var(--transparent);
  color: inherit;
  transition: 0.2s;
}

.Contacts__form-input {
  margin-bottom: 1.6em;
}

.Contacts__form-textarea {
  min-height: 12em;
  resize: vertical;
}

.Contacts__form-input:focus,
.Contacts__form-textarea:focus {
  border-color: var(--brand-color);
}

.Contacts__form-btn-submit {
  margin-top: 3.2em;
  font-weight: 500;
  color: var(--color);
  background-color: var(--background-color);
  letter-spacing: 0.2em;
}

.Contacts__form-btn-submit:hover,
.Contacts__form-btn-submit:focus {
  background-color: var(--brand-color);
  color: var(--background-color);
}

/* Wrong form data = button disable */

.Contacts__form-btn-submit.disable,
.Contacts__form-btn-submit.disable:hover,
.Contacts__form-btn-submit.disable:focus {
  color: var(--color);
  background-color: var(--background-color);
  cursor: not-allowed;
  opacity: 0.5;
}
