.Home {
  position: relative;
}

/* ************************************** */
/*                 Intro                  */
/* ************************************** */

.intro {
  margin-bottom: 24vh;
  margin-top: 16vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro__title {
  position: relative;
  font-size: 8em;
  margin: 2.5rem .1em;
  letter-spacing: 0.2rem;
  word-spacing: 0.2em;
}

.intro__description {
  margin: 0 auto;
  font-size: 2em;
  color: var(--gray);
}

@keyframes noise-anim {
   0% {
     clip: rect(33px, 9999px, 92px, 0);
  }
   5% {
     clip: rect(91px, 9999px, 34px, 0);
  }
   10% {
     clip: rect(88px, 9999px, 76px, 0);
  }
   15% {
     clip: rect(44px, 9999px, 79px, 0);
  }
   20% {
     clip: rect(43px, 9999px, 89px, 0);
  }
   25% {
     clip: rect(69px, 9999px, 21px, 0);
  }
   30% {
     clip: rect(80px, 9999px, 20px, 0);
  }
   35% {
     clip: rect(94px, 9999px, 78px, 0);
  }
   40% {
     clip: rect(29px, 9999px, 99px, 0);
  }
   45% {
     clip: rect(89px, 9999px, 91px, 0);
  }
   50% {
     clip: rect(51px, 9999px, 10px, 0);
  }
   55% {
     clip: rect(65px, 9999px, 91px, 0);
  }
   60% {
     clip: rect(82px, 9999px, 15px, 0);
  }
   65% {
     clip: rect(23px, 9999px, 81px, 0);
  }
   70% {
     clip: rect(74px, 9999px, 29px, 0);
  }
   75% {
     clip: rect(13px, 9999px, 63px, 0);
  }
   80% {
     clip: rect(100px, 9999px, 5px, 0);
  }
   85% {
     clip: rect(60px, 9999px, 6px, 0);
  }
   90% {
     clip: rect(92px, 9999px, 90px, 0);
  }
   95% {
     clip: rect(33px, 9999px, 84px, 0);
  }
   100% {
     clip: rect(72px, 9999px, 8px, 0);
  }
}

.intro__title:after {
  content:attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 var(--blue);
  top: 0;
  color: inherit;
  background: var(--background-color);
  overflow: hidden;
  clip: rect(0,900px,0,0); 
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.intro__title:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 var(--red);
  top: 0;
  color: inherit;
  background: var(--background-color);
  overflow: hidden;
  clip: rect(0,900px,0,0); 
  animation: noise-anim 3s infinite linear alternate-reverse;
}

/* ************************************** */
/*                Common                  */
/* ************************************** */

.Home__section {
  text-align: center;
}

.Home__section-tile {
  font-size: 3.2em;
}

.Home__section-block {
  min-width: 20em;
  margin: 4em 0;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--transparent);
  box-shadow: 0 0 0.2em var(--background-color);
}

.Home__section-block__subtitle {
  margin: 0;
  padding: 1rem;
  font-size: 2em;
}

.Home__section-block__description {
  font-size: 1.3em;
}
