.App {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1920px;
  transition: 0.2s;

  --background-color: var(--dark);
  --color: var(--light);
  --gray: rgb(61, 61, 61);
  --transparent: var(--white-transparent);
  --brand-color: #356bff;

  background-color: var(--background-color);
  color: var(--color);
}

.App.light {
  --background-color: var(--light);
  --color: var(--black);
  --gray: #a0a0a0;
  --transparent: var(--black-transparent);
  --brand-color: #225dff;
}

.App__body-wrapper {
  position: relative;
  z-index: 1;
}
