.Modal__wrapper {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.486);
  transition: 0.2s;
}
.Modal__wrapper.visible {
  visibility: visible;
  opacity: 1;
}

.Modal {
  max-width: 50em;
  font-size: 1.2em;
  border-radius: 1em;
  border: 1px solid var(--color);
  background-color: var(--background-color);
}

.Modal__header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Modal__title {
  margin: 0;
  margin-right: 2em;
  font-weight: 400;
}

.Modal__btn-close {
  border: none;
  background-color: transparent;
  color: var(--color);
}

.Modal__body {
  padding: 1.2rem;
  border-top: 1px solid var(--brand-color);
}
