footer {
  position: relative;
}

footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.4;
  background: radial-gradient(var(--gray), transparent);
}

.footer__link-list {
  padding: .0em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  opacity:  .6;
}

.footer__link-list li {
  margin: 0.7em;
}

.footer__copyright {
  margin: 0;
  padding: 1.4em 0 2em;
  text-align: center;
  color: var(--gray);
}
